<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <i class="bi bi-book"></i>
    <a class="navbar-brand" [routerLink]="['home']">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['books']">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <div>
      <div *ngIf="!loggedUser.isLoggedIn">
        <button class="btn btn-outline-primary" (click)="loginredirect()">
          Login!
        </button>
      </div>
      <div *ngIf="loggedUser.isLoggedIn" >
        <div class="btn-group">
          <button type="button" class="btn btn-danger
          dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Action
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</nav>
