<p>author works!</p>
<div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Profesi&oacute;n</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listAuthors">
        <td>{{item.name}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.academicDegree}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row bi-text-left">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
