<p>author works!</p>
<div>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Profesi&oacute;n</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listAuthors">
        <td>{{item.name}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.academicDegree}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <nav >
    <ul class="pagination justify-content-center">
      <li class="page-item"
      [ngClass]="filterParams.currentPage == 1 ? 'disabled' : ''">
        <input type="button" class="page-link"
          value="Previous" (click)="changePageNextBackButtons(false)">
      </li>
      <li *ngFor="let page of filterParams.pages"
      class="page-item">
      <input type="button" class="page-link" value="{{page}}" (click)="changePage(page)" >
    </li>
      <li class="page-item"
        [ngClass]="filterParams.currentPage == filterParams.pages.length ? 'disabled' : ''">
        <input type="button" class="page-link"
          value="Next"
          (click)="changePageNextBackButtons(true)" >
      </li>
    </ul>
  </nav>
</div>

