.borderBody {
  margin-left: 16%;
  margin-right: 16%;
  margin-top: .5%;
  margin-bottom: .5%;
}

.borderNavbar {
  border: 5px;
  border-color: red;
  border-style: solid;
  padding-left: 15%;
  padding-right: 15%;
}
